body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-x: scroll;
}

ul, li {
    padding: 0px; 
    margin: 0px;
}

header {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    background-color: white; 
    border-bottom: 1px solid gainsboro;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    align-items:center; 
}

.logo b {
    font-weight: 600;
}

.logo .light {
    font-weight: 200;
}

@media screen and (min-width: 481px) {
    nav {
        flex-basis: auto;
    }
    
    nav ul {
        list-style-type: none;
        display: inline-flex;
        gap: 16px;
    }
    
    nav li a {
        text-decoration: none;
        color: gray;
        word-wrap: none;
    }
    
    #mobile-nav {
        display: none;
    }

    header {
        min-width: 530px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }

    nav {
        display: none;
    }

    #mobile-nav {
        flex-basis: 100%;
        opacity: 0.6;
        margin-top: 7px;
        margin-left: 24px;
    }

    #mobile-nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-nav li a {
        text-decoration: none;
    }
}

.box {
    display: flex;
    gap: 24px;
    padding: 32px 24px;
    max-width: 100%;
    height: auto;
}

.gray {
    background-color: rgb(191, 190, 190);
}

.box img {
    max-width: 60%;
    object-fit: contain;
}

.right-column {
    display: flex;
    flex-direction: column;
    color: rgb(55, 54, 54); 
    justify-content: center;
    gap: 20px;
}

.right-column h1 {
    margin: 0;
    line-height: 45px;
    letter-spacing: .7px;
}

.right-column h3 {
    margin: 0;
    font-weight: 500; 
}

.right-column a {
    margin: 0;
    padding: 8px;
    margin-top: 8px;
    background-color:rgb(55, 54, 54); 
    color:rgb(238, 237, 237);
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: .7px;
}

@media screen and (max-width: 480px) {
    .box {
        padding: 0;
        flex-direction: column;
        gap: 0;
    }

    .box img {
        min-width: 100%;
    }

    .right-column {
        padding: 32px 16px;
        gap: 0;
    }

    .right-column h3 {
        margin: 24px 0;
    }

    .right-column a {
        margin: 0;
        color:rgb(238, 237, 237);
        background-color:rgb(141, 141, 141)
    }
}