body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

ul, li {
    padding: 0; 
    margin: 0;
}

header {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    background-color: white; 
    border-bottom: 1px solid rgb(231, 230, 230);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    align-items:center; 
}

.logo b {
    font-weight: 600;
}

.logo .light {
    font-weight: 200;
}

@media screen and (min-width: 481px) {
    nav {
        flex-basis: auto;
    }
    
    nav ul {
        list-style-type: none;
        display: inline-flex;
        gap: 16px;
    }
    
    nav li a {
        text-decoration: none;
        color: gray;
        word-wrap: none;
    }
    
    #mobile-nav {
        display: none;
    }

    header {
        min-width: 530px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }

    nav {
        display: none;
    }

    #mobile-nav {
        flex-basis: 100%;
        margin-top: 7px;
        margin-left: 24px;
    }

    #mobile-nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-nav li a {
        text-decoration: none;
    }
}

.box {
    display: flex;
    gap: 24px;
    padding: 32px 24px;
    max-width: 100%;
    height: auto;
}

.gray {
    background-color: rgb(231, 230, 230);
}

.box img {
    max-width: 60%;
    object-fit: contain;
}

.right-column {
    display: flex;
    flex-direction: column;
    color: rgb(55, 54, 54); 
    justify-content: center;
}

.right-column h1 {
    margin: 0;
    line-height: 45px;
    letter-spacing: .7px;
}

.right-column h3 {
    margin: 20px 0;
    font-weight: 500; 
}

.right-column a {
    margin: 0;
    padding: 8px;
    margin-top: 8px;
    background-color:rgb(55, 54, 54); 
    color:rgb(238, 237, 237);
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: .7px;
}

.border {
    border-left: 1px solid rgb(231, 230, 230);
    margin-top: -32px;
    margin-bottom: -32px;
    margin-right: -24px;
    padding: 32px 0;
    width: 40%;
}

.column-box {
    display: flex;
    margin: 0;
    padding: 16px;
    border: 1px solid rgb(231, 230, 230);
    border-left: 0;
}

.column-box img {
    width: 35%;
    height: auto;
    margin-right: 16px;
    flex-shrink: 0;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.first {
    border-bottom: 0;
}

.box-content h3, p, a {
    margin: 0;
}

.box-content p, a {
    font-weight: 300;
    letter-spacing: .3px; 
}

.box-content a {
    background-color: transparent;
    padding: 0;
    color: rgb(108, 168, 220);
}

.left-column {
    width: 60%;
}

.left-column img {
    min-width: 100%;
}

.left-column h2 {
    margin: 24px 0;
}

.left-column p {
    font-size: 15px;
    color: gray;
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: .2px;
}

.footnote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    letter-spacing: .1px;
}

@media screen and (max-width: 480px) {
    .box {
        padding: 0;
        flex-direction: column;
        gap: 0;
    }

    .box img {
        min-width: 100%;
    }

    .right-column {
        padding: 32px 16px;
        gap: 0;
    }

    .right-column h3 {
        margin: 24px 0;
    }

    .right-column a {
        margin: 0;
        color:rgb(238, 237, 237);
        background-color:rgb(141, 141, 141)
    }
}